<div id="page_wrapper">
  <div id="pheasants_image">
    <%= image_tag "pheasants.jpeg" %>
  </div>


  <div id="content">
    <h2>HaikuYu</h2>
    <p>Express your thoughts in a haiku</p>
    <h3>What is a haiku?</h3>
    <p>Haiku is an ancient Japanese poetry form with 3 short lines.  Traditional Japanese haiku structure uses 5 syllables in the first line, 7 syllables in the second line and 5 syllables in the last line.</p>
    <p>Haikus are usually written in the present tense, and upon reflection, should let you appreciate what is around you.  In modern day, they can be understated or funny.  Be creative and let your inner HaikuYu shine!</p>
  </div>

</div>